{
  "extends": ["eslint:recommended", "airbnb"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "classes": true,
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
  },
  "globals": {
    "GATSBY_DISQUS_SHORTNAME": "writable"
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "comma-dangle": ["warn", "always"],
    "consistent-return": "warn",
    "curly": ["warn", "all"],
    "func-names": "off",
    "function-paren-newline": "off",
    "global-require": "off",
    "implicit-arrow-linebrake": "off",
    "import": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/order": "warn",
    "import/prefer-default-export": "off",
    "indent": [
      "error", 4, {
        "SwitchCase": "error",
        "ignoredNodes": ["JSXElement *"]
      }
    ],
    "key-spacing": "off",
    "linebreak-style": "off",
    "max-len": [
      "warn", { 
        "code": 120,
        "ignoreComments": true,
        "ignorePattern": "(\\${tw\\`(.*)\\`}$|src\\:(.*))",
        "ignoreStrings": true,
        "ignoreUrls": true
      }
    ],
    "no-console": "error",
    "no-debugger": "error",
    "no-duplicate-imports": "warn",
    "no-else-return": "off",
    "no-extra-semi": "warn",
    "no-multi-spaces": "warn",
    "no-param-reassign": "off",
    "no-restricted-globals": "off",
    "no-trailing-spaces": "warn",
    "no-undef": "off",
    "no-underscore-dangle": "warn",
    "no-unused-expressions": [
      "warn", { 
        "allowTaggedTemplates": true
      }
    ],
    "no-unused-vars": [
      "warn", { 
        "argsIgnorePattern": "res|next|stage|^err|on|config"
      }
    ],
    "no-use-before-define": "off",
    "nonblock-statement-body-position": "off",
    "object-curly-newline": "off",
    "operator-linebreak": [ 
      "warn", "after", { 
        "overrides": { 
          "?": "ignore",
          ":": "ignore" 
        } 
      }
    ],
    "padded-blocks": "off",
    "prefer-destructuring": "off",
    "quotes": [
      "error", "single", {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": "off",
    "space-after-keywords": ["warn", "never"],
    "space-before-function-paren": "off",
    "jsx-quotes": ["error", "prefer-single"],
  
    // JSX-a11y
    "jsx-a11y/accessible-emoji": "off",
    "jsx-a11y/anchor-is-valid": [
      "warn", { 
        "aspects": ["invalidHref"] 
      }
    ],
    "jsx-a11y/href-no-hash": "off",

    // React
    "react/default-props-match-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/display-name": "warn",
    "react/forbid-prop-types": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-filename-extension": [
      "warn", { "extensions": [".js", ".jsx"] }
    ],
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-indent": 4,
    "react/jsx-indent-props": "off",
    "react/jsx-max-props-per-line": [
      "warn", {
        "maximum": 5 
      }
    ],
    "react/jsx-no-target-blank": "error",
    "react/jsx-no-useless-fragment": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-array-index-key": "off",
    "react/no-danger": "off",
    "react/no-unescaped-entities": "off",
    "react/no-unused-prop-types": "warn",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off"
  }
}
