@tailwind preflight;

@tailwind components;

body {
  @apply font-sans text-lg m-0 overflow-x-hidden;
}

h1, h2, h3, h4, h5 {
  @apply font-semibold;
}

p {
  @apply leading-normal;
}

p:first-child {
  @apply mt-0;
}

ul, ol {
  @apply m-0;
}

ol {
  @apply mb-6;
}

ol li {
  @apply mx-0 my-2;
}

pre {
  @apply font-mono p-0;
}

code {
  @apply text-base;
}

.text-content a {
  @apply relative inline-block no-underline cursor-pointer;
}

.react-reveal {
  @apply z-99;
}

@tailwind utilities;

p {
  color: rgba(0,0,0,0.75);
}

.text-content a {
  color: rgba(0,0,0,0.9);
  transition: color 250ms, text-shadow 250ms;
  &:after {
    position: absolute;
    background-color: #663399;
    content: '';
    width: 100%;
    height: 3px;
    left: 50%;
    bottom: -1px;
    border-radius: 4px;
    transform: translateX(-50%);
    transition: all 250ms;
    z-index: -1;
  }
  &:hover {
    color: white;
    &::after {
      width: 105%;
      height: 110%;
    }
  }
}
