/*
  CUSTOM PRISM THEME
*/

// Base
$darker-gray:   #1b1026;
$dark-gray:     #22152e;
$gray:          #392c45;
$light-gray:    #77638C;
$lighter-gray:  #d1c4dd;
$lightest-gray: #f8Ffff;

// Colors
$red:           #bF3b40;
$orange:        #db8a6c;
$light-orange:  #ffb899;
$yellow:        #dbb36e;
$cyan:          #26c099;
$blue:          #269dbf;
$purple:        #5c2eaf;

// Mapped Vars
$syntax-text-color: $lighter-gray;
$syntax-cursor-color: $lightest-gray;
$syntax-selection-color: rgba($lighter-gray, 0.2);
$syntax-background-color: $dark-gray;
$syntax-wrap-guide-color: $darker-gray;
$syntax-indent-guide-color: $gray;
$syntax-invisible-character-color: $gray;
$syntax-result-marker-color: $light-gray;
$syntax-result-marker-color-selected: $lightest-gray;
$syntax-gutter-text-color: $lighter-gray;
$syntax-gutter-text-color-selected: $syntax-gutter-text-color;
$syntax-gutter-background-color: $darker-gray;
$syntax-gutter-background-color-selected: $gray;
$syntax-color-renamed: $blue;
$syntax-color-added: $yellow;
$syntax-color-modified: $orange;
$syntax-color-removed: $red;

pre code {
  display: block;
  letter-spacing: 0.02rem;
  line-height: 1.3;
  width: 100%;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-left: 0.75% !important;
  padding: 1.15rem 1.4rem 1.25rem 1.25rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

code[class*='language-'],
pre[class*='language-'] {
	color: $lighter-gray;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	$lightest-gray-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
code[class*='language-css'],
pre[class*='language-css'] {
  color: $orange;
}

pre[class*='language-']::-moz-selection, pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection, code[class*='language-'] ::-moz-selection,
pre[class*='language-']::selection, pre[class*='language-'] ::selection,
code[class*='language-']::selection, code[class*='language-'] ::selection {
	background: $syntax-selection-color;
	text-shadow: none;
}

/* Code blocks */
pre[class*='language-'] {
	width: 95%;
	margin: 0.5rem 0;
	overflow: auto;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	background: $syntax-selection-color;
	text-shadow: none;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	background: $syntax-selection-color;
	text-shadow: none;
}

pre[class*='language-'] {
	background: $syntax-background-color;
	border-radius: 8px;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	color: #663399;
	border-radius: 0.3rem;
	padding: 0.1rem;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: rgba(255,255,255,0.25);
}

.token {
  &.punctuation {
    color: $syntax-text-color;
    &.comment {
      color: #675a80;
    }
    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: $syntax-text-color;
    }
    &.important {
      color: $light-orange;
    }
  }
  &.operator,
	&.property {
    color: $syntax-text-color;
  }
  &.entity {
    color: $light-orange;
    text-decoration: underline;
  }
  &.regexp,
	&.function,
  &.important {
    color: $cyan;
  }
	&.tag-id,
  &.selector {
    color: $red;
    text-decoration: underline;
  }
  &.tag {
    color: $blue;
		.token.script {
			color: $light-gray;
		}
  }
	&.tag-id {
		color: $red;
	}
  &.attr-name {
    color: $orange;
  }
  &.attr-value {
    color: $yellow;
    .punctuation {
      color: $syntax-text-color;
    }
  }
  &.atrule {
    color: $cyan;
    .atrule-id {
      color: $purple;
    }
    .punctuation {
      color: $syntax-text-color;
    }
  }
	&.heading,
	&.identity,
	&.keyword {
		color: $blue;
	}
  &.string,
  &.char,
  &.builtin,
	&.symbol,
  &.url {
    color: $yellow;
  }
  &.pseudo-class {
    color: $orange;
  }
  &.boolean,
  &.number,
  &.constant {
    color: $orange;
  }
  &.important {
    font-weight: bold;
  }
  &.entity {
    cursor: help;
  }
}

.namespace {
	opacity: 0.7;
}

.token.char {
  color: red;
}

pre[class*='language-shell'] {
	.token.function {
		color: $blue;
	}
}
